<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zqf.kotlinwanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinWanAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.act.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.act.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/launch_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.web.WebViewX5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.fg.SystemDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.SearchDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.SysSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.act.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.act.CollectListAct"
            android:screenOrientation="portrait" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <activity android:name="com.sensorsdata.analytics.android.sdk.dialog.SchemeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="dsy2544364" />
            </intent-filter>
        </activity>
    </application>

</manifest>